/*此文件包含轮播部分样式*/

#banner{
	width:1240px;
	height:455px;
	margin:0 auto;
	margin-top:80px;
	position:relative;
	background:#f2f2f0;
}

#show{
	position:absolute;
	width:1240px;
	height:455px;
	overflow:hidden;
	background:#f2f2f0;
}

#show>li{
	position:absolute;
	left:50px;
	top:0;
	transition:all 1s ease-out;
}

#show>li>img{
	width:778px;
	height:440px;
	border:none;
	cursor:pointer;
}

#next,#prev{
	width:64px;
	height:64px;
	position:absolute;
	opacity:.5;
	top:200px;
	transition:all .3s linear;
	cursor:pointer;
	z-index:3;
}

#prev{
	left:5px;
}

#next{
	right:5px;
}

img.direction{
	width:64px;
	height:64px;
}

#prev:hover{
	opacity:1;
}

#next:hover{
	opacity:.8;
}

/***************************************/

.b1{
	transform:translate3d(-500px,0,0) scale(.6);
	opacity:0;
}

.b2{
	transform:translate3d(-300px,0,0) scale(.7);
	z-index:2;
	opacity:.8;
}

.b3{
	transform:translate3d(135px,0,0) scale(1);
	z-index:3;
}

.b4{
	transform:translate3d(500px,0,0) scale(.7);
	z-index:2;
	opacity:.8;
}

.b5{
	transform:translate3d(900px,0,0) scale(.6);
	opacity:0;
}